<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>0</string>
	<key>address</key>
	<string>111 home</string>
	<key>phone</key>
	<string>123-456</string>
	<key>quizScore</key>
	<string>8</string>
	<key>quizScoreMax</key>
	<string>15</string>
	<key>infoScore</key>
	<string>32</string>
	<key>infoScoreMax</key>
	<string>40</string>
	<key>username</key>
	<string>Chris</string>
	<key>email</key>
	<string>chris@chris.com</string>
	<key>regScore</key>
	<string>0</string>
	<key>regScoreMax</key>
	<string>4</string>
</dict>
</plist>
